__pycache__/
.env
.venv/
.DS_Store
.vscode/
.idea/
.pytest_cache/
.ruff_cache/
.mypy_cache/
.coverage

backend/.env
/backend/__pycache__
backend/.env
/backend/app/api/__pycache__
/backend/venv
/frontend/node_modules
.env.backup
backend/environment.example
deploy.sh
QUICK_START.md
setup-env.sh
DEPLOYMENT_GUIDE.md
/cdk_venv
/lambda_package
/temp_deps
/cdk.out
.env.production
GITHUB_ACTIONS_SETUP.md
